body{
          font-family: 'Poppins', sans-serif;
}

.color{
          color:orange;
}

section{
          display: flex;
}

.left{
    width:50%;
    padding:5%;
}

a{
 /* background-color: orange; */
 background-image: linear-gradient(orange,tomato,green);
 text-decoration: none;
}

.right{
   width:50%;
}

.right img{
          width:70%;
}
